<a (click)='seleccionaTienda()'
   [ngClass]="{'verde': tienda.evaluacionAsesor==true, 'rojo': tienda.evaluacionAsesor==false}"
   rel="noopener">
  <div class="card card-container-h">
    <img class="card-img-top" id="image" src={{tienda.host}} alt="No existe imagen de la tienda"/>
    <div class="card-body text-center">

      <i class="ri-store-fill"></i>
      <span><strong>{{tienda.nombreTienda}}</strong></span><br>

      <small>
        <i class="ri-arrow-right-fill"></i>
        <span id="categoria">{{tienda.categoria.nombre}}</span>

        <ul>
          <li *ngFor="let subs of tienda.categoria.subcategorias"><i
            class="ri-corner-down-right-fill"></i> {{subs.nombre}}<strong>,</strong></li>
        </ul>
      </small>

      <span *ngIf="tienda.numeroCelular"><i class="ri-smartphone-line"></i> {{tienda.numeroCelular}}</span><br>
      <small><span class="text-muted" *ngIf="tienda.nombrePropietario"><i
        class="ri-contacts-line"></i> {{tienda.nombrePropietario}}</span></small><br>
      <small><span class="text-muted ml-2" *ngIf="tienda.direccion"> <i
        class="ri-map-pin-line"></i> {{tienda.localizacion}}</span></small>
      <small><span class="text-muted" *ngIf="tienda.zonasTrabajo" type="submit" class="icon">, </span></small>
      <small><span class="text-muted" *ngIf="tienda.zonasTrabajo">{{tienda.localizacion}}</span></small>
    </div>
  </div>
</a>
